* {
  /* margins are a cog of the corporate machine */
  margin: 0;
  /* anarchy is a state of being enabled by the box-sizing attribute */
  /* padding is love; padding is life */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

b, strong {
  font-weight: 400;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background-color: #fff;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  min-width: 320px;
  max-width: 650px;
  overflow-y: scroll;
}

h1 {
  font-size: 190%;
  text-align: center;
}

h2, h3 {
  text-align: center;
}

h4 {
  font-weight: 400;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

p {
  text-align: justify;
  hyphens: auto;
}

.stealth {
  text-decoration: none;
  color: inherit;
}

.partitioned {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;
}

.part {
  display: inline-block;
  -webkit-flex: 12 1 0;
     -moz-flex: 12 1 0;
      -ms-flex: 12 1 0;
          flex: 12 1 0;
  padding: 4px;
}

.partonethird {
  display: inline-block;
  -webkit-flex: 4 1 0;
     -moz-flex: 4 1 0;
      -ms-flex: 4 1 0;
          flex: 4 1 0;
  padding: 4px;
}

header, section {
  padding: 4px;
  width: 100%;
}

header > div,
header > h1,
header > h2,
header > h3,
header > h4,
section > div,
section > p,
section > h1,
section > h2,
section > h3,
section > h4 {
  padding: 4px;
}

header > .partitioned {
  padding: 0px;
}

.small {
  font-size: 90%;
}

.ctr {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 2px 4px;
  border: 1px solid gray;
}
