* {
  /* margins are a cog of the corporate machine */
  margin: 0;
  /* anarchy is a state of being enabled by the box-sizing attribute */
  /* padding is love; padding is life */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 50px auto;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
}

h1 {
  font-size: 190%;
  text-align: center;
}

h2, h3, h4 {
  text-align: center;
}

b, strong {
  font-weight: 400;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

p {
  text-align: justify;
  hyphens: auto;
}

.stealth {
  text-decoration: none;
  color: inherit;
}

.partitioned {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;
}

.part {
  display: inline-block;
  -webkit-flex: 1 1 auto;
     -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 4px;
}

.btn {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  text-align: center;
  display: block;
}

.btn:hover, .btn:focus, .btn:active {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
  text-decoration: none;
}

header, section {
  padding: 4px;
  width: 100%;
}

header > *, section > * {
  padding: 4px;
}

header > .partitioned {
  padding: 0px;
}

.small {
  font-size: 85%;
}

.ctr {
  text-align: center;
}
