<header>
  <h1>CIS 198: Rust Programming</h1>
  <h3><a class="stealth" href="http://www.upenn.edu/">University of Pennsylvania</a></h3>
  <div class="ctr">Spring 2016</div>
  <nav class="partitioned">
    <div class="subpartitioned">
      <div class="part">
        <a class="btn" href="/">Home</a>
      </div>
      <div class="part">
        <a class="btn" href="/schedule/">Schedule</a>
      </div>
      <div class="part">
        <a class="btn" href="/policies/">Policies</a>
      </div>
    </div>
    <div class="subpartitioned">
      <div class="part">
        <a class="btn btngreen" href="/projects/">Final Projects</a>
      </div>
      <div class="partonethird">
        <a class="btn" href="https://github.com/cis198-2016s" title="On GitHub"><img src="/img/github.png" alt="On GitHub"></a>
      </div>
      <div class="partonethird">
        <a class="btn" href="https://piazza.com/class/iiksjduyiy773s" title="Piazza (for Penn students)"><img src="/img/piazza.png" alt="Piazza (for Penn students)"></a>
      </div>
      <div class="partonethird">
        <a class="btn" href="https://groups.google.com/forum/#!forum/cis198-public" title="Google Group (Public discussion)"><img src="/img/googlegroup.png" alt="Google Group (for anyone)"></a>
      </div>
    </div>
  </nav>
</header>
<hr>
